<section class="index-page">
  <p class="success">
    Profile Page 
  </p>
  <a href='/user/logged'>Home</a>
  <a href='/user/profile/settings'>Settings</a>
  <a href='/auth/logout'>Logout</a>
</section>